<!-- fragments/sidebar.html -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<aside th:fragment="sidebarFragment">
<!-- Sidebar Widgets culumn -->	
		<!-- Side widgets-->
		<div class="card mb-4">
	        <div class="card-header">프로젝트 개요</div>
	        <div class="card-body">
	        • 목적 : ChatGPT API를 활용한 웹 기반 챗봇 서비스 개발<br>
			• 기능<br>
				- 자유 질문/답변 기능<br>
				- PDF 파일 업로드 → 요약/답변 제공 기능<br>
			</div>
	    </div>
		<div class="card mb-4">
		        <div class="card-header">개발환경</div>
		        <div class="card-body">
		        🖥️ SpringBoot +Thymeleaf<br>
				🔧 API : OpenAI gpt-4.1-mini<br>
				🗃️ DB : MySQL<br>
				📂 파일 처리 : Apache PDFBox<br>
				</div>
	    </div>
	    <!-- Search widget-->
<!-- 	    <div class="card mb-4"> -->
<!-- 	        <div class="card-header">Search</div> -->
<!-- 	        <div class="card-body"> -->
<!-- 	            <div class="input-group"> -->
<!-- 	                <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" /> -->
<!-- 	                <button class="btn btn-primary" id="button-search" type="button">검색</button> -->
<!-- 	            </div> -->
<!-- 	        </div> -->
	    </div>
	    
	    <!-- Categories widget-->
<!-- 	    <div class="card mb-4"> -->
<!-- 	        <div class="card-header">Categories</div> -->
<!-- 	        <div class="card-body"> -->
<!-- 	            <div class="row"> -->
<!-- 	                <div class="col-sm-6"> -->
<!-- 	                    <ul class="list-unstyled mb-0"> -->
<!-- 	                        <li><a href="#!">Web Design</a></li> -->
<!-- 	                        <li><a href="#!">HTML</a></li> -->
<!-- 	                        <li><a href="#!">Freebies</a></li> -->
<!-- 	                    </ul> -->
<!-- 	                </div> -->
<!-- 	                <div class="col-sm-6"> -->
<!-- 	                    <ul class="list-unstyled mb-0"> -->
<!-- 	                        <li><a href="#!">JavaScript</a></li> -->
<!-- 	                        <li><a href="#!">CSS</a></li> -->
<!-- 	                        <li><a href="#!">Tutorials</a></li> -->
<!-- 	                    </ul> -->
<!-- 	                </div> -->
<!-- 	            </div> -->
<!-- 	        </div> -->
<!-- 	    </div> -->
</aside>
