<!-- fragments/sidebar.html -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<aside th:fragment="sidebarFragment">
<!-- Sidebar Widgets culumn -->	
		<!-- Side widgets-->
		<div class="card mb-4">
	        <div class="card-header">챗봇 서비스 기획 의도</div>
	        <div class="card-body">
	        • 생성형 AI - 대규모 언어 모델(LLM) 서비스 구현해보기<br>
			• API 활용 - LLM API (Open AI, Google gemini, Meta Llama3 등)를 활용, API 문서 읽기, 요청 보내기, 응답 처리 등 기술 익히기<br>
			• 프롬프트 엔지니어링 - LLM 서비스의 기능은 프롬프트에 크게 좌우됨. 결과를 얻기 위해 다양한 프롬프트를 시도하고 개선 해보기
			</div>
	    </div>
	
	    <!-- Search widget-->
	    <div class="card mb-4">
	        <div class="card-header">Search</div>
	        <div class="card-body">
	            <div class="input-group">
	                <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
	                <button class="btn btn-primary" id="button-search" type="button">검색</button>
	            </div>
	        </div>
	    </div>
	    
	    <!-- Categories widget-->
<!-- 	    <div class="card mb-4"> -->
<!-- 	        <div class="card-header">Categories</div> -->
<!-- 	        <div class="card-body"> -->
<!-- 	            <div class="row"> -->
<!-- 	                <div class="col-sm-6"> -->
<!-- 	                    <ul class="list-unstyled mb-0"> -->
<!-- 	                        <li><a href="#!">Web Design</a></li> -->
<!-- 	                        <li><a href="#!">HTML</a></li> -->
<!-- 	                        <li><a href="#!">Freebies</a></li> -->
<!-- 	                    </ul> -->
<!-- 	                </div> -->
<!-- 	                <div class="col-sm-6"> -->
<!-- 	                    <ul class="list-unstyled mb-0"> -->
<!-- 	                        <li><a href="#!">JavaScript</a></li> -->
<!-- 	                        <li><a href="#!">CSS</a></li> -->
<!-- 	                        <li><a href="#!">Tutorials</a></li> -->
<!-- 	                    </ul> -->
<!-- 	                </div> -->
<!-- 	            </div> -->
<!-- 	        </div> -->
<!-- 	    </div> -->
</aside>
