<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" >
<!-- <html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  -->
<!-- 		layout:decorate="~{layouts/layout}"> -->
<head>
	<title layout:fragment="title">챗봇 Q&A</title>
	<link href="/css/chatbot.css" rel="stylesheet">
</head>
<body>
	<div layout:fragment="content">
		<div class="chatbot-title">🤖 ChatBORA 🤖</div>
		<div class="chat-container">
		    <!-- 대화 내역 출력하기 -->
		    <div class="messages">
		    	<div th:each="msg : ${chatHistory}" 
				     th:class="'message ' + (${msg.role} == 'user' ? 'user' : 'bot')">
<!-- 				    <pre th:text="${msg.content}"></pre> pre 태그는 줄바꿈과 공백을 그대로 출력 -->
					<div th:utext="${msg.content}"></div> <!-- HTML 렌더링 허용 -->
				</div>
		    </div>
		
			
			<!-- index.html에 표시될 영역 설정 -->
			<div th:fragment="mainChatFragment">
			    <!-- 질문 입력창 -->
			    <form class="chat-form" action="/chatbot/question" method="post">
			        <input type="text" name="question" placeholder="질문을 입력하세요." required>
			        <button type="submit">전송</button>
			    </form>
			</div>
			
			
			<div class="chatbot-icon-container">
				<a class="chatbot-icon" th:href="@{/chatbot/reset}"><img th:src="@{/images/free-icon-reset-9899316.png}" alt="reset"></a>
				<a class="chatbot-icon" th:href="@{/}"><img th:src="@{/images/free-icon-font-home-3917743.png}" alt="home"></a>
			</div>
		</div>
	</div>
	
	<!-- JS -->
	<script src="js/jquery-3.7.1.js"></script>
	<th:block layout:fragment="script">
		<script>
			// 브라우저 창을 닫거나 새로고침, 다른 페이지로 이동할 때 발생하는 이벤트
			window.addEventListener("beforeunload", function() {
				navigator.sendBeacon("/chatbot/reset");
			});
		</script>
	</th:block>
	
</body>
</html>