<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
		layout:decorate="~{layouts/layout}">
<head>
<!-- 	<title layout:fragment="title">index.html</title> -->
	<!-- Custom styles for this template -->
		<link href="/css/chatbot.css" rel="stylesheet">
</head>
<body>
	<div layout:fragment="content">
		<!-- 제목 -->
<!-- 		<header class="mb-4"> -->
<!-- 			<h1 class="fw-bolder mb-1">LLM Project</h1> -->
<!-- 	        Post categories -->
<!-- <!--	        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>-->
<!-- <!--	        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>-->
<!-- 	    </header> -->
		<div class="section">
			<div class="text-muted fst-italic mb-2">Q&A 챗봇 서비스</div>
			<!-- chatbot.html의 fragment만 불러오기 -->
		    <th:block th:replace="~{chatbot::mainChatFragment}"></th:block>
		</div>
		<hr class="section-divider" />
		<div class="section">
			<div class="text-muted fst-italic mb-2">PDF 파일 요약</div>
			<!-- pdf_summary.html의 fragment만 불러오기 -->	    
		    <th:block th:replace="~{pdf_summary::pdfUploadForm}"></th:block>
		</div>
		
	</div>
	
	<!-- JS -->
	<script src="js/jquery-3.7.1.js"></script>
	<th:block layout:fragment="script">
		<script>
		</script>
		<th:block th:replace="~{pdf_summary::script}"></th:block>
	</th:block>
</body>
</html>